<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./font/iconfont.css">
    <script src="./js/template-web.js"></script>
</head>

<body>
    <div id="app" class="flex-column">
        <div class="title-bar j-s-c">
            <span>北京</span>
        </div>
        <div class="content-box">
            <div class="real-time flex-column a-c">
                <span>20<span>°C</span></span>
                <span>阴 中度污染</span>
                <span class="iconfont icon-yintian"></span>
            </div>
            <div class="future">
                <div class="slide_box">
                    <!-- <div class="future_item">
                        <h4>今天</h4>
                        <p>10/31</p>
                        <span class="iconfont icon-yintian"></span>
                        <span>阴</span>
                        <div>19°C</div>
                        <div>9°C</div>
                    </div>
                    <div class="future_item">2</div>
                    <div class="future_item">3</div>
                    <div class="future_item">4</div>
                    <div class="future_item">5</div> -->
                </div>
            </div>
        </div>
    </div>


    <script src="./js/slider.js"></script>
    <script src="./js/index.js"></script>


    <script type="text/html" id="temp1">
        <div class="real-time flex-column a-c">
            <span>{{data.temperature}}<span>°C</span></span>
          
            <span>{{data.info}} 
                {{if data.aqi > 0 && data.aqi <= 50}}优
                {{else if data.aqi>50 && data.aqi<=100}}
                良
                {{else if data.aqi>100&& data.aqi<=150}}
                轻度污染
                {{else}}
                重度污染
                {{/if}}
            </span>
            {{if data.wid =='00'}}
            <span class="iconfont icon-qingtian"></span>
            {{else if data.wid == '01'}}
            <span class="iconfont icon-yintian"></span>
            {{else if data.wid =='02'}}
            <span class="iconfont icon-yintian"></span>
            {{/if}}
        </div>
    </script>

    <script type="text/html" id="temp2">
        {{each data item index}}
            <div class="future_item">
                <h4>{{item.day}}</h4>
                <p>{{item.date}}</p>
                <span class="iconfont icon-yintian"></span>
                <span>{{item.weather}}</span>
                <div>{{item.temp[1]}}</div>
                <div>{{item.temp[0]}}</div>
            </div>
        {{/each}}
    </script>
    <script>
        let data = checkWeather();
        console.log(data);
        let htmlStr1 = template('temp1', {
            data: data.result.realtime
        });
        document.querySelector('.real-time').innerHTML = htmlStr1;

        var dataList = data.result.future;
        let futureList = [];
        for (let i = 0; i < dataList.length; i++) {
            var obj = {};
            var wd = new Date(dataList[i].date);
            switch (wd.getDay()) {
                case 0:
                    obj.day = '星期天';
                    break;
                case 1:
                    obj.day = '星期一';
                    break;
                case 2:
                    obj.day = '星期二';
                    break;
                case 3:
                    obj.day = '星期三';
                    break;
                case 4:
                    obj.day = '星期四';
                    break;
                case 5:
                    obj.day = '星期五';
                    break;
                case 6:
                    obj.day = '星期六';
                    break;
            }


            obj.date = `${wd.getMonth() + 1}/${wd.getDate()}`;
            // 温度
            let arr = dataList[i].temperature.split('/');
            // 
            arr[0] = arr[0] + '℃';
            // console.log(arr);
            obj.temp = arr;
            obj.weather = dataList[i].weather;
            obj.wid = dataList[i].wid.day;
            futureList.push(obj);
        }
        let htmlStr2 = template('temp2', {
            data: futureList
        });
        document.querySelector('.slide_box').innerHTML = htmlStr2;
    </script>
    <!-- <script src="./js/ajax.js" type="module"></script> -->
</body>

</html>