*{
    padding: 0;
    margin: 0;
}

ul,ol{
    list-style: none;
}
#app{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(to right,red,blue);
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.j-c{
    justify-content: center;
}
.a-c{
    align-items: center;
}

.j-s-a{
    justify-content: space-around;
}
.j-s-b{
    justify-content: space-between;
}
.j-s-e{
    justify-content: space-evenly;
}
.flex-1{
    flex: 1;
}