.btn1 {
  background-color: red;
  min-width: 100px;
  height: 36px;
  border: 1px solid #000;
  text-align: center;
  border-radius: 10px;
}

.btn2 {
  background-color: blue;
  min-width: 100px;
  height: 36px;
  border: 1px solid #000;
  text-align: center;
  border-radius: 10px;
}
