@import url(../public/font/iconfont.css);
.tabBox{
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: .2rem;
  height: .4rem;
  align-items: center;
  text-align: center;
}

.tabBox li{
  width: 100%;
  /* background-color: pink; */
}

.active{
  color: blue;
}

.show{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .2rem;
  height: 2rem;
  background-color: skyblue;
}
.hidden{
   display: none;
}