.top-line{
    background-color: #333;
    line-height: 40px;
    height: 40px;
}
.top-line .contents{
    position: relative;
    height: 40px;
}

.qrcode{
    position: absolute;
    text-align: center;
    left: 392px;
    top: 28px;
    color: #333;
    background-color: #fff;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.topbar-nav a:hover {
    color: #fff;
}
.topbar-nav a:nth-last-of-type(2):hover .qrcode{
    height:130px ;
}


.contents a{
    color: #b0b0b0;
}

.contents span{
    color: #b0b0b0;
    margin: 3.6px;
}

.topbar-nav{
    float: left;
}

.topbar-right{
    float: right;
}

.cart{
    float: right;
    width: 120px;
    text-align: center;
    background-color: #424242;
}
.cart{
    color: #b0b0b0;
    font-size: 15px;
}


.logo{
    float: left;
    margin-top: 27px;
}

.nav-item{
    margin-left: 120px;
    width: 600px;
}
.nav-item li:hover a{
    color: #ff6700;
}
.nav-item ul li {
    float: left;
    line-height: 100px;
    
}
.nav-item ul li a{
    padding: 0 6px;
    color: #333;
    font-size: 14px;
}


.search{
    float: right;
    margin-top: 20px;
    width: 296px;
    height: 50px;
    box-sizing: border-box;
}
.search input{
    float: left;
    height: 50px;
    width: 223px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    outline: none;
    padding-left: 10px;
    transition: all 0.3s ease-out;
}

.search input:hover{
    border-color: #B0B0B0;
}

.search input:hover +button{
    border-color: #B0B0B0;
}
.search input:focus {
    border-color: #ff6700;

}

.search input:focus +button{
    border-color: #ff6700;

}

.search button{
    float: left;
    width: 52px;
    height: 50px;
    box-sizing: border-box;
    outline:none;
    border: 1px solid #E0E0E0;
   /*清除默认背景 */
   background-color: transparent;
    transition: all 0.3s ease-out;
}

.search button:hover {
    background-color: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.second-nav{
    border-top: 1px solid #E0E0E0;
    box-sizing: border-box;
    /* padding-top: 23px;
    padding-bottom: 23px; */
    width: 100%;
    box-shadow: 0 2px 2px #D6D6D6;
    position: absolute;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.second-nav .contents{
     height: 165px;
}
.con_item{
    height: 165px;
    /* position: absolute; */
    /* top: 30px; */
    display: none;
}
.con_item .item{
    float: left;
    text-align: center;
}

.con_item .item img{
    border-right: 1px solid #E0E0E0;
}
.con_item .item:nth-last-of-type(1) img{
    border-right: none;
}

