img{
    position: absolute;
    left: 0;
    top:0;
}

.box{
    height: 500px;
    width: 500px;
    border: 2px solid red;
    position: relative;
    margin: 0 auto;
}

.btn-box label{
    display: inline-block;
    width: 26px;
    line-height: 26px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
}
.btn-box label:hover{
    background-color: skyblue;
    border-color: white;
}
.btn-box{
    width: 102px;
    margin: 10px auto;
}
img{
    display: none;
}

input:checked + img{
    display: block;
}