@font-face {
  font-family: "iconfont"; /* Project id 4703221 */
  src: url('iconfont.woff2?t=1728544181872') format('woff2'),
       url('iconfont.woff?t=1728544181872') format('woff'),
       url('iconfont.ttf?t=1728544181872') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-icon3:before {
  content: "\e665";
}

.icon-dingwei:before {
  content: "\e62f";
}

.icon-weixiufuwu:before {
  content: "\ead5";
}

.icon-baoyou:before {
  content: "\e63e";
}

.icon-search:before {
  content: "\e6c8";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-icon-more:before {
  content: "\e605";
}

