 table {
        width: 400px;
        margin: 0 auto;
        border: 1px solid #000000;
        border-collapse: collapse;
    }
    
    th,
    td {
        border: 1px solid #000000;
        text-align: center;
    }


    .bg_red{
        background-color: red;
    }
    .bg_green{
        background-color: green;
    }