*  {
    margin: 0;
    padding: 0;
}

body {
    font-size: 32rem;
}

ul {
    list-style: none;
}

html {
    font-size: calc(100vw / 750);
    /* font-size: calc(750 / 100vw); */
}

@media screen and (min-width: 768px) {
    html {
        font-size: calc(768px / 750);
        /* font-size: calc(750 / 100vw); */
    }
}

#app{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom,skyblue,deepskyblue);
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.j-s-c{
      display: flex;
    justify-content: center;
}

.j-s-b{
    justify-content:space-between;
}
.a-c{
    align-items: center;
}

.title-bar{
    height: 60rem;
    color: white;
    font-size: 40rem;
}

.content-box{
    flex: 1;
}
.real-time{
    color: white;
    height: 400rem;
    justify-content: center;
}
.real-time>span:nth-of-type(1){
    font-size: 160rem;
    text-shadow: 0 0 15px #61bcdf;
    font-weight: bold;
}
 .real-time>span:nth-of-type(1) span{
    font-size:  30rem;
}

 .real-time>span:nth-of-type(2){
    font-size:40rem;
 }
 .real-time>span:nth-of-type(3){
    font-size: 20rem;
    margin-top: 10rem;
 }
.future {
    width: 100vw;
    height: 400rem;
    display: flex;
    overflow: hidden;
}
.future  .future_item{
    width: 300rem;
    height: 400rem;
    border: 1px solid #000;
}
.future .slide_box{
     display: flex;
    /* transition: all 0.3s linear; */
}

