* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}


#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

:root {
  font-size: calc(100vw / 375 * 100);
}

.main_section {
  flex: 1;
  overflow: auto;
}

body {
  font-size: 16px;
}

@media only screen and (min-width:769px) {
  :root {
    font-size: calc(768px / 375 * 100);
  }

  #root {
    width: 768px;
    margin: 0 auto;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}